#cajaimagen{
    display: flex;
    width: 640px;
    margin: 30px;
    border: 1px solid #f00;
  }
  #zonadestino{
    display: flex;
    width: 640px;
    height: 550px;
    margin: 30px;
    border: 1px solid blue;
  }